/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* :root */
:root {
  /* Font Size */
  --font-56px: 56px;
  --font-40px: 40px;
  --font-32px: 32px;
  --font-24px: 24px;
  --font-20px: 20px;
  --font-18px: 18px;
  --font-16px: 16px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semibold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Color */
  --dark-01: #0e0e0e;
  --light-01: #ffffff;
  --light-02: #f5f5f5;
  --green-01: #006a50;
  --green-02: #c6e4d6;
  --green-03: #09a15c;
  --blue-01: #5490f5;
  --yellow-01: #ffc239;
  --yellow-02: #f7ebcf;
}

/* *: box-sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* body */
body {
  font-family: 'Fira Sans', serif;
  font-weight: var(--weight-bold);
  background: #f5f5f5;

  margin: 0 auto;
}

section {
  margin-bottom: 80px;
}

/* Utility Classes */
.flexer {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-center-column {
  flex-direction: column;
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-left {
  flex-direction: column;
  align-items: flex-start;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

button {
  font-size: var(--font-18px);
  font-weight: var(--weight-semibold);
  color: var(--light-01);
  padding: 15px 26px;
  border: 2px solid var(--green-01);
  border-radius: 8px;
}

.buttonSmall {
  font-size: var(--font-16px);
  padding: 17px 39px;
  border: none;
}

.buttonXS {
  font-size: var(--font-16px);
  padding: 11px 20px;
  border: none;
}

.colorGreen {
  color: var(--green-01);
}

.bgColorGreen {
  background: var(--green-01);
}

.bgGreen {
  background: var(--green-02);
}

.bgGreenAlt {
  background: var(--green-03);
}

.colorWhite {
  background: var(--light-01);
}

.colorBlue {
  background: rgba(84, 144, 245, 0.15);
}

.bgBlue {
  background: var(--blue-01);
}

.bgYellow {
  background: var(--yellow-02);
}

.bgYellowAlt {
  background: var(--yellow-01);
}

.card {
  border-radius: 24px;
  padding: 80px 60px;
}

.textCenter {
  text-align: right;
}

/* Hover  */

.hoverable:hover {
  transform: scale(1.02);
  background-color: #c6e4d6; /* Light green hover */
  transition: all 0.2s ease-in-out;
}

/* Image Styling */
img {
  display: block;
  width: 100%;
  height: auto;
}

/* Component Styles */

/* Nav Section */
.nav {
  margin-bottom: 20px;
}

.nav h3 {
  font-size: var(--font-32px);
}

/* Hero Section */
.heroCta {
  max-width: 622px;
}

h4 {
  font-size: var(--font-24px);
  font-weight: var(--weight-medium);
  margin: 0;
}

h1 {
  font-size: var(--font-56px);
  margin: 0;
  padding: 20px 0 20px 0;
  line-height: 1.2;
}

.heroTag {
  color: rgba(14, 14, 14, 0.5);
}

/* Pillars Section */
.pillars {
  margin-top: 80px;
}

.pillarsCards {
  gap: 24px;
}

.cardSmall {
  gap: var(--font-24px);
  border: 1px solid rgba(var(--dark-01) 0.15);
  border-radius: 16px;
  padding: 24px;
}

h2 {
  font-size: var(--font-40px);
}

h5 {
  font-size: var(--font-20px);
  font-weight: var(--weight-bold);
  margin: 0;
}

.cardCTA p,
.vision p {
  font-size: var(--font-16px);
  font-weight: var(--weight-regular);
  margin: 11px 0 0 0;
  line-height: 1.5;
}

/* Vision */
.cardRegular {
  padding: 32px;
}

.cardRegular .vision h2 {
  margin-bottom: 22px;
}

.vision p {
  margin: 11px 0 0px 0;
  line-height: 1.5;
}

.vision h2 {
  margin-bottom: 21px;
}

.cardBlock {
  margin-top: 33px;
}

.cardRegularCTA {
  min-width: 347px;
}

/* quoteCard */
.quoteCard {
  padding: 25px 24px 48px 24px;
  border-radius: 16px;
  margin: 32px auto;
}

.quoteCardContent {
  background-image: url(./assets/quote-bg.png);
  background-position: top left;
  background-repeat: no-repeat;

  font-size: var(--font-16px);
  font-weight: var(--weight-regular);
  margin: 0;
  padding: 28px 0 13px 0;
  line-height: 1.5;
}

.pAlt {
  margin: 5px 0px 0px 0px;
}

/* opinion */
.opinion h2 {
  margin: 82px 0 0 0;
}

table {
  background: var(--light-01);
  padding: 32px;
  margin: 22px auto 0px auto;
  /* border-collapse: collapse; */
  border-radius: 16px;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: left;
}

td {
  font-size: var(--font-16px);
  font-weight: var(--weight-semibold);
}

th {
  font-size: var(--font-20px);
  font-weight: var(--weight-semibold);
  background-color: var(--green-02);
  padding: 24px;
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

select {
  background: #c6e4d6;
  font-size: var(--font-16px);
  font-weight: var(--weight-bold);
  padding: 12.5px 16.5px;
  border: 1px solid var(--dark-01);
  border-radius: 3px;
}

/*  News */
.newsCardsBlock {
  padding-top: 23px;
  gap: 25px;
}
.news h2 {
  margin: 0px;
}

.newsCards {
  background: var(--light-01);
  padding: 16px;
  border-radius: 24px;
}

.newsImg img {
  min-width: 408px;
  border-radius: 24px;
}

.newsCTA {
  font-weight: var(--weight-regular);
  margin: 25px 0 10px 0;
  line-height: 1.4;
}

.newsBlock {
  margin: 0 0 0 7px;
  gap: 15px;
}

.newsBlock h5 {
  font-size: var(--font-32px);
  font-weight: var(--weight-bold);
  padding-top: 7px;
}

.newsBlock p {
  margin: 0;
  line-height: 1.2;
}

.flexOrder {
  order: 1;
}

.flexOrderMargin {
  margin-left: -8px;
}

.buttonBrand {
  background: var(--green-01);
  padding: 11px 21px;
  margin-bottom: 8px;
  margin-left: 8px;
}

/* donate */
.donate h2 {
  margin: 0;
}

.donate p {
  text-align: center;
  font-size: var(--font-16px);
  font-weight: var(--weight-regular);
  margin: 25px 0;
  line-height: 1.4;
  min-width: 1104px;
}

.donateCards {
  min-width: 1071px;
}

.donateCard {
  padding: 23px 18px;
}

.donateCard h5 {
  font-size: var(--font-40px);
  font-weight: var(--weight-bold);
}

#donateInput {
  margin-top: 24px;
  margin-bottom: 34px;
  padding: 10px 0 10px 0;
}

input[type='text'] {
  text-align: center;
  width: 1032px;
  height: 64px;
  padding: 15px;
  border: 1px solid var(rgba(14, 14, 14, 0.15));
  font-size: var(--font-20px);
  font-weight: var(--weight-regular);
}

.buttonDonate {
  padding: 15px 30px;
}

/* Newsletter */
.newsletterCTA {
  min-width: 750px;
}

.newsletterCTA h2 {
  margin: -9px 0;
}

.newsletterCTA p {
  text-align: center;
  font-size: var(--font-16px);
  font-weight: var(--weight-regular);
  line-height: 1.5;
  max-width: 622px;
  margin: 26px 0px 24px 0;
}

.subscribeBTN {
  margin: 0;
  border-radius: 0;
}

input[type='email'] {
  text-align: left;
  width: 600px;
  height: 55px;
  padding: 12px 15px 15px 39px;
  font-size: var(--font-16px);
  font-weight: var(--weight-regular);
}

.spam {
  margin: 0;
}

/* footerCTA */
.footer {
  margin: 48px 0 0 0;
}

.footerCTA {
  padding: 50px 0 32px 0;
  border-bottom: 2px solid rgba(14, 14, 14, 0.1);
}

.footerCTA h4 {
  font-size: var(--font-32px);
  font-weight: var(--weight-bold);
}

.footerContact {
  padding: 32px 0 50px 0;
  gap: 23px;
}
